html,
body {
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

.register-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
}

.login-page {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}

.home-header {
  position: fixed;
  top: 0;
  height: 50px;
  background-color: purple;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-footer {
  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: purple;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-post-button {
  height: 25px;
}

.posts {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue; 
}

.fav-posts {
  margin: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mine-posts {
  margin: 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  color:orange;
}

.post-title {
  color:red;
}

.buy-button {
  background-color:rgb(13, 255, 0);
  font-size: 50px;
}

.post {
  border: 5px solid red;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  max-width: 600px;
  background-color: WHITE;
}

.post-form {
  background-color: white;
  padding: 10px;
}

.charge-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  font-size: 150%;
}

.post-image {
  width: 500px;
}

.balance {
  font-size: 300%;
  color:rgb(40, 172, 36)
}
.modal {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.off {
  display: none;
}